body {
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

div {
    border-radius: 30px;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}