.panel-custom {
    margin: 50px 150px 0px 150px;
}

.panel-success {
    margin: 30px 150px 0px 150px;
}

.panel-danger {
    margin: 30px 150px 0px 150px;
    float: left;
    clear: both;
}

.btn-sm {
    margin: 0px 15px 0px 15px;
}