table {
    border-collapse: collapse;
}

#header td {
    width: 100px;
    font-weight: bold;
    text-align: center;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#header td:first-child {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

#header td:last-child {
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

b {
    color: #808080;
}

.img_txt {
    position: absolute;
    top: 40%;
    color: white;
    font: italic bold 30px/60px Georgia, serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}