<!DOCTYPE html>
{% autoescape true %}
<html>
<head lang="en">
    <meta charset="UTF-8">
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <meta name="author" content="Kaiyuan Wang and Xingyuan Wang">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags --> 

    <title>Connexus</title> 

    <!-- Bootstrap core CSS --> 
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
     
    <!-- Bootstrap theme
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet">
    --> 

    <!-- Other great theme -->
    <link href="../assets/css/sb-admin-2.css" rel="stylesheet" >
     <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" >
    <link href="../assets/metisMenu.min.css",rel="stylesheet" >
    <link href="../assets/bootstrap-social.css" rel="stylesheet" >

    <!-- Custom styles for this template --> 
    {% block custom_style %} 
        <link href="../assets/css/base.css" rel="stylesheet"> 
    {% endblock %} 

    <link href="../assets/css/lightbox.css" rel="stylesheet">
    <link href="../assets/css/dropzone.css" rel="stylesheet">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/mydropzone.css" rel="stylesheet">
    <link href="../assets/css/remodal.css" rel="stylesheet">
    <link href="../assets/css/remodal-default-theme.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/dropzone.min.js"></script>
    <script src="../assets/js/remodal.js"></script>
    <script src="../assets/js/autocomplete.js"></script>
</head>
<body>
<nav class="navbar navbar-default"> 
    <div class="container"> 
        <div class="navbar-header"> 
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
             
            <a href="#" class="navbar-brand">Connex.us</a> 
        </div>
         
        <div class="navbar-collapse collapse"> 
            <ul class="nav navbar-nav">  
                {% block manage %}
                    <li><a href="manage">Manage</a></li> {% endblock %}
                {% block create_stream %}
                    <li><a href="create_stream">Create</a></li> {% endblock %}
                {% block view_all_stream %}
                    <li><a href="view_all_stream">View</a></li> {% endblock %}
                {% block search_stream %}
                    <li><a href="search_streams">Search</a></li> {% endblock %}
                {% block trending_stream %}
                    <li><a href="trending_stream">Trending</a></li> {% endblock %}
                {% block social %}
                    <li><a href="social">Social</a></li> {% endblock %}
            </ul>
             
        </div>
        <!--/.nav-collapse --> 
    </div>
     
</nav>
 
<div id="body"> 
    {% block div_body %} 
        <p>Nothing</p> 
    {% endblock %} 
</div>
 
</body>
 
</html>
{% endautoescape %}