{% extends "templates/base.html" %}
{% block create_stream %}
<b>Create</b>
{% endblock %}
{% block div_body %}
<form action="/create" method="post">
    <table>
        <tr>
            <td><textarea name="stream_name" rows="3" cols="60"></textarea></td>
            <td><textarea name="stream_tags" rows="3" cols="60"></textarea></td>
        </tr>
        <tr>
            <td><h2>Name Your Stream</h2></td>
            <td><h2>Tag Your Stream</h2></td>
        </tr>
        <tr>
            <td><textarea name="subscribers" rows="3" cols="60" placeholder="subscriber1@xxx.com,&#10subscriber2@yyy.com,&#10..."></textarea></td>
            <td><textarea name="cover_url" rows="3" cols="60"></textarea></td>
        </tr>
        <tr>
            <td><textarea name="optional_msg" rows="3" cols="60" placeholder="Optional message for invite"></textarea></td>
            <td><h2>URL to cover image</h2></td>
        </tr>
        <tr>
            <td><h2>Add Subscribers</h2></td>
        </tr>
    </table>
    <input type="submit" value="Create Stream"/>
</form>
{% endblock %}