{% extends "templates/base.html" %}

{% block custom_style %} 
    <link href="../assets/css/create_stream.css" rel="stylesheet"> 
{% endblock %} 

{% block create_stream %}
    <li class="active"><a href="create_stream">Create</a></li> 
{% endblock %}

{% block div_body %}
    <div id="alert"></div>
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h3 class="panel-title">Create</h3>
        </div>
        <div class="panel-body">
            <form action="/create" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Name Your Stream</h3>
                            </div>
                            <div class="panel-body">
                                <textarea id="stream_name" name="stream_name" rows="3" cols="60" placeholder="Hongkong Journalist"></textarea>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Subscribers</h3>
                            </div>
                            <div class="panel-body">
                                <textarea id="stream_subscribers" name="subscribers" rows="3" cols="60" placeholder="xingyuan.wang@gmail.com,&#10helloworld@utexas.edu,&#10..."></textarea>
                                <textarea id="stream_msg" name="optional_msg" rows="3" cols="60" placeholder="Optional message for invite"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tag Your Stream</h3>
                            </div>
                            <div class="panel-body">
                                <textarea id="stream_tags" name="stream_tags" rows="3" cols="60" placeholder="#naive, #haha"></textarea>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">URL to Cover Image (Can be Empty)</h3>
                            </div>
                            <div class="panel-body">
                                <textarea id="stream_cover_url" name="cover_url" rows="3" cols="60" placeholder="http://www.images.com/path/to/picture.png"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="create_btn" class="btn btn-outline btn-success" type="submit">Create Stream</button>
            </form>
        </div>
    </div>
    <script src="../assets/js/create_stream.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
{% endblock %}