{% extends "templates/base.html" %}

{% block custom_style %} 
    <link href="../assets/css/display_photos.css" rel="stylesheet"> 
{% endblock %} 

{% block div_body %}
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h3 class="panel-title">{{ stream.name }}</h3>
        </div>
        <div class="panel-body text-center">
            {% set isOwner = user and stream.owner == user %}
            {% set counter = 0 %}
            {% if isOwner %}
                <form action="delete_photos" method="post">
            {% endif %}
                <div class="col-sm-12">
                    {% for photo in photos %}
                        <div class="col-sm-4">
                            <img alt="300x300" class="img-thumbnail" data-src="holder.js/200x200" style="width: 300px; height: 300px;" src="/img?img_id={{photo.key.urlsafe()}}">
                            {% if isOwner %}
                                <input type="checkbox" name="photos2delete" value="{{ photo.id }}"/>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    {% if isOwner %}
                        <div class="col-sm-2">
                            <button class="btn btn-outline btn-danger" type="submit">Delete Selected Photos</button>
                        </div>
                    {% elif user %}
                        {% if user.nickname() in stream.subscribers %}
                            <div class="col-sm-2">
                                <form action="unsubscribe_stream" method="post">
                                    <button class="btn btn-outline btn-warning" type="submit">Unsubscribe</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="col-sm-2">
                                <form action="subscribe_stream" method="post">
                                    <button class="btn btn-outline btn-success" type="submit">Subscribe</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}
                        <div class="col-sm-2">
                            <button class="btn btn-outline btn-info" type="button">
                                <a href="{{ go_back_url }}">Go Back</a>
                            </button>
                        </div>
                </div>
            {% if isOwner %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}