<script>
    {#    google.maps.event.trigger(map, "resize");#}
    $(document).on('opening', '.remodal', function () {
        var $map = $('#map_canvas');
        var my_map;
        var marker_cluster;
        $map.gmap({'zoom': 2, 'center': '30.25, -97.75', 'disableDefaultUI': true}).bind('init', function (evt, map) {
            my_map = map;
            var $ajax = $.getJSON('geo_data', {
                        name: '{{stream_name}}',
                        start: query_begin_date.toISOString(),
                        end: query_end_date.toISOString()
                    },
                    function (data) {
                        $.each(data.markers, function (i, marker) {
                            $map.gmap('addMarker', {
                                'position': new google.maps.LatLng(marker.latitude, marker.longitude)
                            }).mouseout(function () {
                                $map.gmap('closeInfoWindow');
                            }).mouseover(function () {
                                $map.gmap('openInfoWindow', {'content': marker.content}, this);
                            });
                        });
                    });
            $ajax.done(function () {
                marker_cluster = new MarkerClusterer(map, $map.gmap('get', 'markers'));
                $map.gmap('set', 'MarkerClusterer', marker_cluster);
            });
        });

        var query_begin_date = null;
        var query_end_date = null;
        var timer = null;

        function set_query_date_range(begin, end) {
            query_begin_date = begin;
            query_end_date = end;
        }

        function restart_timer() {
            clear_timer();
            timer = window.setTimeout(handler, 1000);
        }

        function clear_timer() {
            if (timer) {
                window.clearTimeout(timer);
            }
            timer = null;
        }

        function handler() {
            clear_timer();
            marker_cluster.clearMarkers();
            $map.gmap('clear', 'markers');
            load_geo_data(my_map);
        }

        function load_geo_data(my_map) {
            var $ajax = $.getJSON('geo_data', {
                        name: '{{stream_name}}',
                        start: query_begin_date.toISOString(),
                        end: query_end_date.toISOString()
                    },
                    function (data) {
                        $.each(data.markers, function (i, marker) {
                            $map.gmap('addMarker', {
                                'position': new google.maps.LatLng(marker.latitude, marker.longitude)
                            }).mouseout(function () {
                                $map.gmap('closeInfoWindow');
                            }).mouseover(function () {
                                $map.gmap('openInfoWindow', {'content': marker.content}, this);
                            });
                        });
                    });
            $ajax.done(function () {
                marker_cluster = new MarkerClusterer(my_map, $map.gmap('get', 'markers'))
                $map.gmap('set', 'MarkerClusterer', marker_cluster);
            });
        }

        function formatDate(date) {
            return $.datepicker.formatDate('MM dd, yy', date);
        }

        function setRangeLabels(low, high) {
            var prev_year = new Date(); // Today
            prev_year.setYear(prev_year.getFullYear() - 1);
            var lowDate = new Date(prev_year);
            lowDate.setDate(prev_year.getDate() + low);
            var highDate = new Date(prev_year);
            highDate.setDate(prev_year.getDate() + high);
            var label = formatDate(lowDate) + " to " + formatDate(highDate);
            set_query_date_range(lowDate, highDate);
            $("#geoDateRateDisplay").html(label);
        }

        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 365,
            values: [0, 365],
            slide: function (event, ui) {
                setRangeLabels(ui.values[0], ui.values[1]);
                restart_timer();
            }
        });
        setRangeLabels(
                $("#slider-range").slider("values", 0),
                $("#slider-range").slider("values", 1)
        );
        google.maps.event.trigger(my_map, "resize");
    });
</script>