{% extends "templates/base.html" %}
{% block search_stream %}
<b>Search</b>
{% endblock %}
{% block div_body %}
<form action="/show_result" method="get">
    <input type="search" name="search_keyword" placeholder="Keyword"/><br>
    <input type="submit" value="Search"/>
</form>
{% if search_enabled %}
    <h4>Find {{ result_streams|length }} results for keyword <b>{{ keyword }}</b>
        {% if result_streams|length != 0 %}
        ,<br>
        click on image to view individual stream
        {% endif %}
    </h4>
    <table style="width: 20%">
        {% for stream in result_streams %}
            <tr>
                <td>
                    <div style="position: relative">
                        <a href="{% if user == stream.owner %} {{ stream.stream_url }} {% else %} {{ stream.guest_url }} {% endif %}">
                            <img src="{{ stream.cover_url }}"/>
                            <div class="img_txt">
                                {{ stream.name }}
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}