{% extends "templates/base.html" %}

{% block custom_style %} 
    <link href="../assets/css/search_stream.css" rel="stylesheet"> 
{% endblock %} 

{% block search_stream %}
<li class="active"><a href="search_streams">Search</a></li>
{% endblock %}

{% block div_body %}
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
            <form action="/show_result" method="get">
                <div class="input-group custom-search-form">
                    <input id="auto_complete" type="search" name="search_keyword" placeholder="Search..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>

                </div>
            </form>
        </div>
    </div>

    {% if search_enabled %}
        {% if result_streams|length != 0 %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Find <strong>{{ result_streams|length }}</strong> results for keyword <strong>{{ keyword }}</strong>. Click on image to view individual stream.</h3>
                </div>
                <div class="panel-body">
                    {% for stream in result_streams %}
                        <div class="col-sm-4">
                            <div class="panel panel-default panel-thumbnail">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ stream.name }}</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <a href="{% if user == stream.owner %} {{stream.stream_url}} {% else %} {{stream.guest_url}} {% endif %}">
                                        <img alt="200x200" class="img-thumbnail" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="{{ stream.cover_url }}" data-holder-rendered="true">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% else %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">No result for keyword <strong>{{ keyword }}</strong>!</h3>
                </div>
            </div>
        {% endif %}


    {% endif %}
{% endblock %}