{% extends "templates/base.html" %}

{% block custom_style %} 
    <link href="../assets/css/trending_stream.css" rel="stylesheet"> 
{% endblock %} 

{% block trending_stream %}
    <li class="active"><a href="trending_stream">Trending</a></li>
{% endblock %}

{% block div_body %}
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h3 class="panel-title">Top 3 Trending Streams</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-9">
                {% set count = 0 %}
                {% for stream in most_three_popular_streams %}
                    <div class="col-sm-4">
                        <div {% if count == 0 %} class="panel panel-default"
                        {% elif count == 1 %} class="panel panel-default"
                        {% else %} class="panel panel-default"
                        {% endif %}>
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ stream.name }}</h3>
                            </div>
                            <div class="panel-body text-center">
                                <a href="{% if user == stream.owner %} {{ stream.stream_url }} {% else %} {{ stream.guest_url }} {% endif %}">
                                    <img alt="200x200" class="img-thumbnail" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="{{ stream.cover_url }}" data-holder-rendered="true">
                                </a>
                                <div>
                                    <strong>{{ stream.total_visits|length }}</strong> views in the last hour.
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Email trending report</h3>
                    </div>
                    <div class="panel-body">
                        <form action="update_email_freq" method="post">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <input type="radio" name="frequency" value="no" {% if timer.threshold == 0 %}checked="checked"{% endif %}/> No reports
                                </a>
                                <a class="list-group-item">
                                    <input type="radio" name="frequency" value="5m" {% if timer.threshold == 1 %}checked="checked"{% endif %}/> Every 5 minutes
                                </a>
                                <a class="list-group-item">
                                    <input type="radio" name="frequency" value="1h" {% if timer.threshold == 12 %}checked="checked"{% endif %}/> Every 1 hour
                                </a>
                                <a class="list-group-item">
                                    <input type="radio" name="frequency" value="1d" {% if timer.threshold == 288 %}checked="checked"{% endif %}/> Every day
                                </a>
                            </div>
                        </form>
                        <div class="text-center">
                            <button class="btn btn-outline btn-info" type="submit">Update Rate</button>
                        </div>
                    </div>
                </div>
            </div>
        </di>
    </div>
{% endblock %}