{% extends "templates/base.html" %}
{% block div_body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ stream_name }}</h3>
        </div>
        <div class="panel-body">
           {% for photo in photos %}
                <img src="/img?img_id={{ photo.key.urlsafe() }}"/>
           {% endfor %}
        </div>
        <form action="{{ more_pic_url }}">
            <input type="submit" value="More Pictures"/>
        </form>
        <div class="remodal-bg">
            <a href="#modal">Geo View</a>
        </div>
    </div>
    {% include 'templates/geo_view.html' %}

    {% include 'templates/dropzone.html' %}
{% endblock %}