{% extends "templates/base.html" %}

{% block custom_style %} 
    <link href="../assets/css/view_single_stream.css" rel="stylesheet"> 
{% endblock %} 

{% block div_body %}
    <div class="panel panel-default panel-custom">
        <div class="panel-heading">
            <h3 class="panel-title">{{ stream_name }}</h3>
        </div>

        <div class="panel-body">
            <div class="col-sm-11">
                {% set count = 0 %}
                {% for photo in photos %}
                    <div class="col-sm-4">
                        <div class="thumbnail clickable">
                            <a data-lightbox="{{stream_name}}" data-title="{{photo.id}}" href="/img?img_id={{photo.key.urlsafe()}}">
                                <img class="img-responsive img-rounded displayed_big" style="width: 300px; height: 300px;" src="/img?img_id={{photo.key.urlsafe()}}">
                            </a>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
            <div class="col-sm-1">
                <div>
                    <form action="{{ more_pic_url }}">
                        <button class="btn btn-outline btn-success btn-circle btn-xl btn-custom" type="submit">
                            <span class="glyphicon glyphicon-th-large"></span>
                        </button>
                    </form>
                </div>
                <div class="remodal-bg">
                    <a href="#modal">
                        <button class="btn btn-outline btn-warning btn-circle btn-xl btn-custom">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        {% include 'templates/geo_view.html' %}
        {% include 'templates/dropzone.html' %}
        <script src="../assets/js/lightbox.min.js"></script>
    </div>
{% endblock %}