{% extends "templates/base.html" %}

{% block custom_style %} 
    <link href="../assets/css/view_all_streams.css" rel="stylesheet"> 
{% endblock %} 

{% block view_all_stream %}
    <li class="active"><a href="view_all_stream">View</a></li> 
{% endblock %}

{% block div_body %}
    <div class="panel panel-primary panel-custom">
        <div class="panel-heading">
            <h3 class="panel-title">View All Streams</h3>
        </div>
        <div class="panel-body">
            {% for stream in streams %}
                <div class="panel panel-default panel-thumbnail">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ stream.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <a href="{{ stream.stream_url }}">
                            <img alt="200x200" class="img-thumbnail" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="{{ stream.cover_url }}" data-holder-rendered="true">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}